.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#fileListDiv {
  float:left;
  width: 10%
}

#textFieldDiv {
  float:left;
  width: 40%
}

#displayDiv {
  float: left;
  width: 50%
}

#markdown_input {
  width: 90%
  
}

#toolbar {
  float: left
}

#sharing {
  float: right
}

.clear {
  clear: right
}
